@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  background: #f9f9f9;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

.background-block {
  height: 90%;
  width: 30%;
  position: absolute;
  z-index: -1;
}
@media (max-width: 768px) {
  .background-block {
    height: 60%;
    width: 50%;
  }
}
.background-block--purple {
  border-bottom-right-radius: 50% 35%;
  border-bottom-left-radius: 50% 35%;
  background: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  top: -10%;
  left: -8%;
}
@media (max-width: 768px) {
  .background-block--purple {
    top: -5%;
    left: -16%;
    border-bottom-right-radius: 50% 20%;
    border-bottom-left-radius: 50% 20%;
  }
}
.background-block--gray {
  border-top-right-radius: 50% 35%;
  border-top-left-radius: 50% 35%;
  background: #f8f2f9;
  bottom: -10%;
  right: -8%;
}
@media (max-width: 768px) {
  .background-block--gray {
    bottom: -5%;
    right: -16%;
    border-top-right-radius: 50% 20%;
    border-top-left-radius: 50% 20%;
  }
}

.container {
  max-width: 60%;
  margin-top: 8%;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .container {
    max-width: 75%;
    gap: 50px;
    padding-block: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.mobile-app__container {
  flex: 0 0 375px;
  border: 10px solid hsl(0, 0%, 100%);
  border-radius: 30px;
  box-shadow: 10px 20px 25px rgba(204, 204, 204, 0.7411764706);
}
.mobile-app__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 400px;
}
.mobile-app__intro h1 {
  color: hsl(271, 36%, 24%);
  font-weight: 500;
  text-align: left;
}
@media (max-width: 768px) {
  .mobile-app__intro h1 {
    text-align: center;
  }
}
.mobile-app__intro p {
  line-height: 1.6rem;
  font-weight: 400;
  color: hsl(270, 7%, 64%);
  text-align: left;
}
@media (max-width: 768px) {
  .mobile-app__intro p {
    text-align: center;
  }
}
.mobile-app__screen-header {
  display: flex;
  position: relative;
  width: 100%;
  height: 90px;
  border-radius: 20px 20px 5px 5px;
  box-shadow: 0 4px 8px rgba(204, 204, 204, 0.7411764706);
  background: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
}
@media (max-width: 768px) {
  .mobile-app__screen-header {
    height: 75px;
  }
}
.mobile-app__screen-notch {
  width: 50%;
  height: 35px;
  border-radius: 17.5px;
  background: hsl(0, 0%, 100%);
  position: absolute;
  top: -10px;
  left: 25%;
}
.mobile-app__profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  padding-inline: 15px;
  gap: 10px;
  height: 50px;
  bottom: 0;
}
.mobile-app__profile-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.mobile-app__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid hsl(0, 0%, 100%);
}
.mobile-app__avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.mobile-app__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 220px;
}
@media (max-width: 768px) {
  .mobile-app__info {
    width: 120px;
  }
}
.mobile-app__info .name {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 500;
  color: hsl(270, 20%, 96%);
}
.mobile-app__info .status {
  margin: 0;
  font-size: 0.6rem;
  font-weight: 400;
  color: hsl(276, 100%, 81%);
}
.mobile-app__chat-area {
  background: hsl(270, 20%, 96%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 20px 20px;
  padding-top: 15px;
  padding-inline: 8px;
  gap: 15px;
}
.mobile-app__input-area {
  display: flex;
  position: relative;
  width: 95%;
  height: 40px;
  border-radius: 20px;
  margin-bottom: 15px;
}
.mobile-app__input-area input {
  width: 100%;
  border-radius: 20px;
  padding-inline: 20px;
  border: transparent;
  background: hsl(0, 0%, 100%);
}
.mobile-app__input-area input::placeholder {
  color: hsl(206, 6%, 79%);
}
.mobile-app__input-area input:focus {
  outline: none;
}
.mobile-app__input-area .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 5px;
  background: hsl(271, 36%, 24%);
}

.chatbox-walker {
  max-width: 55%;
  line-height: 1.1rem;
  padding: 8px;
  font-size: 0.75rem;
  box-shadow: 0 4px 8px rgba(204, 204, 204, 0.5607843137);
  color: hsl(276, 55%, 52%);
  background: #ebe1f2;
  align-self: flex-start;
  border-radius: 5px 8px 8px 5px;
}
@media (max-width: 768px) {
  .chatbox-walker {
    max-width: 65%;
    line-height: 0.9rem;
    font-size: 0.65rem;
  }
}
.chatbox-user {
  max-width: 55%;
  line-height: 1.1rem;
  padding: 8px;
  font-size: 0.75rem;
  box-shadow: 0 4px 8px rgba(204, 204, 204, 0.5607843137);
  color: hsl(271, 15%, 43%);
  background: hsl(0, 0%, 100%);
  align-self: flex-end;
  border-radius: 8px 8px 5px 8px;
}
@media (max-width: 768px) {
  .chatbox-user {
    max-width: 65%;
    line-height: 0.9rem;
    font-size: 0.65rem;
  }
}
.chatbox-user-img {
  display: flex;
  gap: 10px;
  align-self: flex-end;
}
.chatbox-user-img .img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.chatbox-user-img .img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.chatbox-walker-price {
  align-self: flex-start;
  max-width: 80%;
  padding: 15px;
  border-radius: 10px 10px 10px 5px;
  box-shadow: 0 4px 8px rgba(204, 204, 204, 0.5607843137);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  background: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
}
@media (max-width: 768px) {
  .chatbox-walker-price {
    max-width: 75%;
    padding: 10px;
    gap: 10px;
  }
}
.chatbox-walker-price .time {
  color: #dd9aff;
  font-size: 0.7rem;
  margin-right: 25px;
}
@media (max-width: 768px) {
  .chatbox-walker-price .time {
    margin-right: 5px;
  }
}
.chatbox-walker-price .price {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}

/* 自訂 checkbox 的外觀 */
.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 22px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  /* 隱藏預設的 checkbox */
  /* 顯示出來的 checkmark */
}
.custom-checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.custom-checkbox .checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  border: 2px solid #dd9aff;
  /* 當 checkmark 被選中時，顯示出來 */
}
.custom-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  width: 4px;
  height: 8px;
  border: solid #dd9aff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/*# sourceMappingURL=style.css.map */
