// 引入變數
@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
}
body {
  background: #f9f9f9;
  font-size: $base-font-size;
  font-family: $font-family;
  overflow-x: hidden;
}

.background-block {
  height: 90%;
  width: 30%;
  position: absolute;
  z-index: -1;
  @media (max-width: 768px) {
    height: 60%;
    width: 50%;
  }
  &--purple {
    border-bottom-right-radius: 50% 35%;
    border-bottom-left-radius: 50% 35%;
    background: linear-gradient($Light-magenta, $Light-violet);
    top: -10%;
    left: -8%;
    @media (max-width: 768px) {
      top: -5%;
      left: -16%;
      border-bottom-right-radius: 50% 20%;
      border-bottom-left-radius: 50% 20%;
    }
  }
  &--gray {
    border-top-right-radius: 50% 35%;
    border-top-left-radius: 50% 35%;
    background: #f8f2f9;
    bottom: -10%;
    right: -8%;
    @media (max-width: 768px) {
      bottom: -5%;
      right: -16%;
      border-top-right-radius: 50% 20%;
      border-top-left-radius: 50% 20%;
    }
  }
}

.container {
  max-width: 60%;
  margin-top: 8%;
  margin-inline: auto;
  @include flex-center(row, space-between, center);
  @media (max-width: 768px) {
    max-width: 75%;
    gap: 50px;
    padding-block: 25px;
    @include flex-center(column, center, center);
  }
}

.mobile-app {
  &__container {
    flex: 0 0 375px;
    border: 10px solid $white;
    border-radius: 30px;
    box-shadow: 10px 20px 25px #ccccccbd;
  }
  &__intro {
    @include flex-center(column, $align: flex-start);
    max-width: 400px;
    h1 {
      color: $very-dark-desaturated-violet;
      font-weight: 500;
      text-align: left;
      @media (max-width: 768px) {
        text-align: center;
      }
    }
    p {
      line-height: 1.6rem;
      font-weight: 400;
      color: $dark-grayish-violet;
      text-align: left;
      @media (max-width: 768px) {
        text-align: center;
      }
    }
  }
  &__screen-header {
    display: flex;
    position: relative;
    width: 100%;
    height: 90px;
    border-radius: 20px 20px 5px 5px;
    box-shadow: 0 4px 8px #ccccccbd;
    background: linear-gradient(to right, $Light-violet, $Light-magenta);
    @media (max-width: 768px) {
      height: 75px;
    }
  }
  &__screen-notch {
    width: 50%;
    height: 35px;
    border-radius: 17.5px;
    background: $white;
    position: absolute;
    top: -10px;
    left: 25%;
  }
  &__profile {
    @include flex-center($justify: space-between);
    position: absolute;
    width: 100%;
    padding-inline: 15px;
    gap: 10px;
    height: 50px;
    bottom: 0;
  }
  &__profile-left {
    @include flex-center;
    gap: 10px;
  }
  &__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid $white;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  &__info {
    @include flex-center(column, $align: flex-start);
    width: 220px;
    @media (max-width: 768px) {
      width: 120px;
    }
    .name {
      margin: 0;
      font-size: 0.9rem;
      font-weight: 500;
      color: $light-grayish-violet;
    }
    .status {
      margin: 0;
      font-size: 0.6rem;
      font-weight: 400;
      color: $pale-violet;
    }
  }
  &__chat-area {
    background: $light-grayish-violet;
    @include flex-center(column);
    border-radius: 0 0 20px 20px;
    padding-top: 15px;
    padding-inline: 8px;
    gap: 15px;
  }
  &__input-area {
    display: flex;
    position: relative;
    width: 95%;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 15px;
    input {
      width: 100%;
      border-radius: 20px;
      padding-inline: 20px;
      border: transparent;
      background: $white;
      &::placeholder {
        color: $grayish-blue;
      }
    }
    input:focus {
      outline: none;
    }
    .btn {
      @include flex-center;
      position: absolute;
      right: 5px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      top: calc((40px - 30px) / 2);
      background: $very-dark-desaturated-violet;
    }
  }
}
.chatbox {
  &-walker {
    @include chat-box;
    color: $moderate-violet;
    background: #ebe1f2;
    align-self: flex-start;
    border-radius: 5px 8px 8px 5px;
  }
  &-user {
    @include chat-box;
    color: $desaturated-dark-violet;
    background: $white;
    align-self: flex-end;
    border-radius: 8px 8px 5px 8px;
    &-img {
      display: flex;
      gap: 10px;
      align-self: flex-end;
      .img {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
          object-fit: cover;
        }
      }
    }
  }
  &-walker-price {
    align-self: flex-start;
    max-width: 80%;
    padding: 15px;
    border-radius: 10px 10px 10px 5px;
    box-shadow: 0 4px 8px #cccccc8f;
    @include flex-center($justify:space-around);
    gap: 15px;
    background: linear-gradient(to right, $Light-magenta, $Light-violet);
    @media (max-width: 768px) {
      max-width: 75%;
      padding: 10px;
      gap: 10px;
    }
    .time {
      color: #dd9aff;
      font-size: 0.7rem;
      margin-right: 25px;
      @media (max-width: 768px) {
        margin-right: 5px;
      }
    }
    .price {
      color: $white;
      font-weight: 600;
    }
  }
}

/* 自訂 checkbox 的外觀 */
.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 22px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  /* 隱藏預設的 checkbox */
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  // /* 自訂的 checkbox */
  .checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border: 2px solid #dd9aff;
    /* 當 checkmark 被選中時，顯示出來 */
    &::after {
      content: "";
      position: absolute;
      display: none;
      // 自訂 checkmark 樣式
      width: 4px;
      height: 8px;
      border: solid #dd9aff;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }
  /* 顯示出來的 checkmark */
  input:checked ~ .checkmark:after {
    display: block;
  }
}