// 引入變數
@import "variables";

* {
  box-sizing: border-box;
}
body {
  background: $light-grayish-violet;
  font-size: $base-font-size;
  font-family: $font-family;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background-block {
  height: 90%;
  width: 30%;
  position: absolute;
  z-index: -1;
  &--purple {
    border-radius: 0 0 50% 50%;
    background: linear-gradient($Light-magenta, $Light-violet);
    top: -10%;
    left: -8%;
  }
  &--gray {
    border-radius: 50% 50% 0 0;
    background: $grayish-blue;
    top: 10%;
    right: -8%;
  }
}

.container {
  max-width: 60%;
  margin-top: 8%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
  z-index: 100;
}

.mobile-app {
  &__container {
    flex: 0 0 375px;
    border: 10px solid $white;
    border-radius: 15px;
    z-index: 100;
  }
  &__intro {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    h1 {
      color: $very-dark-desaturated-violet;
      font-weight: 500;
    }
    p {
      line-height: 1.6rem;
      font-weight: 400;
      color: $dark-grayish-violet;
    }
  }
  &__screen-header {
    display: flex;
    position: relative;
    width: 100%;
    height: 90px;
    border-radius: 15px 15px 5px 5px;
    background: linear-gradient($Light-violet, $Light-magenta);
  }
  &__screen-notch {
    width: 50%;
    height: 35px;
    border-radius: 17.5px;
    background: $white;
    position: absolute;
    top: -10px;
    left: 88.75px;
  }
  &__profile {
    display: flex;
    position: absolute;
    width: 100%;
    padding-inline: 15px;
    gap: 10px;
    height: 50px;
    bottom: 0;
    justify-content: center;
    align-items: center;
  }
  &__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid $white;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    width: 220px;
    .name {
      margin: 0;
      font-size: 0.9rem;
      font-weight: 500;
      color: $light-grayish-violet;
    }
    .status {
      margin: 0;
      font-size: 0.6rem;
      font-weight: 400;
      color: $pale-violet;
    }
  }
  &__chat-area {
    background: $light-grayish-violet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-inline: 8px;
    gap: 15px;
  }
  &__input-area {
    display: flex;
    position: relative;
    width: 95%;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 15px;
    input {
      width: 100%;
      border-radius: 20px;
      padding-inline: 20px;
      border: transparent;
      background: $white;
    }
    .btn {
      display: flex;
      position: absolute;
      right: 5px;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      top: calc((40px - 30px) / 2);
      background: $very-dark-desaturated-violet;
    }
  }
}
.chatbox {
  &-walker {
    max-width: 55%;
    line-height: 1.1rem;
    padding: 8px;
    color: $moderate-violet;
    background: #ebe1f2;
    font-size: 0.75rem;
    align-self: flex-start;
    border-radius: 5px 8px 8px 5px;
  }
  &-user {
    max-width: 55%;
    line-height: 1.1rem;
    padding: 8px;
    color: $desaturated-dark-violet;
    background: $white;
    font-size: 0.75rem;
    align-self: flex-end;
    border-radius: 8px 8px 5px 8px;
    &-img {
      display: flex;
      gap: 10px;
      align-self: flex-end;
      .img {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 5px;
          object-fit: cover;
        }
      }
    }
  }
  &-walker-price {
    align-self: flex-start;
    max-width: 80%;
    padding: 15px;
    border-radius: 10px 10px 10px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    background: linear-gradient(to right, $Light-magenta, $Light-violet);
    .time {
      color: #dd9aff;
      font-size: 0.7rem;
      margin-right: 25px;
    }
    .price {
      color: $white;
      font-weight: 600;
    }
  }
}
/* 隱藏預設的 checkbox */
.custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* 自訂 checkbox 的外觀 */
.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 22px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

/* 自訂的 checkbox */
.custom-checkbox .checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  // background-color: $white;
  border: 2px solid #dd9aff;
}

/* 當 checkbox 被點選時，改變背景顏色 */
// .custom-checkbox input:checked ~ .checkmark {
//   background-color: $very-dark-desaturated-violet;
// }
/* 當 checkmark 被選中時，顯示出來 */
.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* 顯示出來的 checkmark */
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* 自訂 checkmark 的樣式 */
.custom-checkbox .checkmark:after {
  width: 4px;
  height: 8px;
  border: solid #dd9aff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
